Flask==3.0.2
Flask-Cors==4.0.0
easyocr==1.7.1
gunicorn==21.2.0
uvicorn==0.29.0
torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu
numpy==1.26.4
opencv-python-headless==4.9.0.80
Pillow==10.3.0
python-multipart==0.0.9

--index-url https://download.pytorch.org/whl/cpu
